@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.containerLeft{
    display: flex;
    flex-direction: column;
    height: 96vh;
    justify-content: center;

}

.griditem{
    background-color: #454545;
}

.containerRight{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96vh;
}

.text{
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 75px;
    padding-left: 30px;
}

.description{
    font-family: 'Fira Sans', sans-serif;
    font-size: 28px;
    padding-left: 32px;
    padding-right: 10px;
    font-weight: bold;
}